<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <!-- <div class="col-lg-10"> -->
        <p>I am a Ph.D. candidate in the department of Civil Engineering at Stony Brook University, specializing in the development of computational models to predict the failure and inelastic behavior of structures subjected to extreme events. These events include severe hydrodynamic phenomena such as floods and tsunamis, as well as explosions resulting from human error, environmental factors, or terrorism.</p>
      <!-- </div> -->
      <!-- <div class="col-lg-8"> -->
        <p>My academic background includes a bachelor's degree in civil engineering, a bachelor's degree in mechanical engineering, and a master's degree in materials science and nanoengineering. I completed my high school education in Afghanistan and pursued my undergraduate and masters studies in Turkey and Poland.</p>
      <!-- </div> -->
      <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div> -->
    </div>
  </div>
</section>
