<div class="container" id="CV">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2><i class="fas fa-book"></i> CV </h2>
      <hr class="star-primary">
    </div>
  </div>
  <div class="grid">
    <!-- Education -->
    <div class="grid-item" onclick="toggleSection('education-section')">
      <i class="fas fa-university"></i>
      <h2>Education</h2>
    </div>
    <div id="education-section" class="content-section">
      <h2>Education</h2>
      <div class="entry">
        <p class="entry-title">Ph.D. in Civil Engineering, <em>Stony Brook University <strong
              class="entry-description">[2021 - Present]</strong></em></p>
        <p class="entry-description">Thesis title: <em>Computational mechanics of extreme events: Advanced multi-physics
            simulations with Smoothed Particle Hydrodynamics, Isogeometric Analysis, Micro Plane Model, and Phase
            Field.</em></p>
        <p class="entry-description">Advisor: Georgios Moutsanidis<br>Location: New York, USA</p>
      </div>

      <div class="entry">
        <p class="entry-title">M.Sc. in Material Science and Nanoengineering, <em>Sabanci University <strong
              class="entry-description">[2019 - 2021]</strong></em></p>
        <p class="entry-description">Thesis title: <em>Peridynamic Modeling of Internal Features and Interfaces for
            Material Toughening.</em></p>
        <p class="entry-description">Location: Istanbul, Turkey</p>
      </div>

      <div class="entry">
        <p class="entry-title">B.Sc. in Mechanical Engineering, <em>Inonu University <strong
              class="entry-description">[2015 - 2021]</strong></em></p>
        <p class="entry-description">Thesis: <em>Energy Assessment of Bio-wastes in Afghanistan's Kunar city.</em></p>
        <p class="entry-description">Location: Malatya, Turkey</p>
      </div>

      <div class="entry">
        <p class="entry-title">B.Sc. in Civil Engineering, <em>Inonu University <strong class="entry-description">[2014
              - 2018]</strong></em></p>
        <p class="entry-description">Honors thesis: <em>Excel-based Programming in Civil Engineering.</em></p>
        <p class="entry-description">Location: Malatya, Turkey</p>
      </div>

      <div class="entry">
        <p class="entry-title">Exchange Student, <em>AGH University <strong
              class="entry-description">[2017]</strong></em></p>
        <p class="entry-description">Location: Krakow, Poland</p>
      </div>
    </div>
    
    <!-- Job Experience -->
    <div class="grid-item" onclick="toggleSection('experience-section')">
      <i class="fas fa-briefcase"></i>
      <h2>Job Experience</h2>
    </div>
    <div id="experience-section" class="content-section">
      <h2>Job Experience</h2>
      <!-- Entry 1 -->
      <div class="entry">
        <p class="entry-title">R&D Simulation Engineer Intern – ANSYS-LSDYNA</p>
        <p class="entry-description"><strong>May 2024 – August 2024</strong></p>
        <ul>
          <li>Continued working on similar topics from the previous year.</li>
          <li>Took on the integration of CUDA parallelization into parts of the ANSYS-LSDYNA code.</li>
          <li>Led the first steps in transforming a significant portion of the ANSYS-LSDYNA base code to CUDA parallel architecture.</li>
        </ul>
      </div>

      <!-- Entry 2 -->
      <div class="entry">
        <p class="entry-title">R&D Simulation Engineer Intern – ANSYS-LSDYNA</p>
        <p class="entry-description"><strong>May 2023 – August 2023</strong></p>
        <ul>
          <li>Developed parallel algorithms for ANSYS-LSDYNA software to simulate airbag behavior during car crashes.</li>
          <li>Conducted FEM analyses and meshing for complex geometries.</li>
          <li>Performed mesh cleaning and re-meshing of car airbags using ANSA and LS-PrePost.</li>
        </ul>        
      </div>

      <div class="entry">
        <p class="entry-title">Engineer Intern – Inonu University Department of Constructions</p>
        <p class="entry-description"><strong>Jun 2017 – Aug 2017</strong></p>
        <ul>
          <li>Led a team of 9 interns in construction activities at Inonu University’s campus.</li>
          <li>Participated in the construction of various new buildings, including a bridge, amphitheater, and student activity center.</li>
        </ul>        
      </div>

      <div class="entry">
        <p class="entry-title">Engineer Intern – Guven Constructions</p>
        <p class="entry-description"><strong>Jun 2016 – Aug 2016</strong></p>
        <ul>
          <li>Reported workflow and material usage for ongoing construction sites.</li>
          <li>Engaged in regular standardization and quality control activities.</li>
        </ul>        
      </div>
    </div>

    <!-- Projects -->
    <div class="grid-item" onclick="toggleSection('projects-section')">
      <i class="fas fa-project-diagram"></i>
      <h2>Projects</h2>
    </div>
    <div id="projects-section" class="content-section">
      <h2>Projects</h2>
      <div class="entry">
        <p class="entry-title">Parallelized Hybrid Particle Methods Supported by Innovative Non-local Models</p>
        <p class="entry-description">
          <em>Research Assistant (Project ID: B.A.KM-21-02377)</em><br>
          <ul>
            <li>Developed a new SPH-Peridynamics numerical method for failure analysis of structures in multi-physics scenarios.</li>
            <li>Applied the method to complex cases and published the findings in various articles.</li>
          </ul>          
        </p>
      </div>
      <!-- <div class="entry">
        <p class="entry-title">Development and Experimental Validation of Parallelized Hybrid SPH-PD Particle Method</p>
        <p class="entry-description">
          <em>Research Assistant (TUBITAK Project ID: 121M425)</em><br>
          <strong>Budget:</strong> 850,000.00 TL (Funded by The Scientific and Technological Research Council of Turkey
          - TUBITAK)<br>
          Enhanced the SPH-PD parallel algorithm to model the behavior of functionally graded materials and composites
          in three-dimensional fluid-structure interaction problems. Currently developing experimental setups for
          various fluid-structure interaction scenarios to validate the algorithm.
        </p>
      </div> -->
      <div class="entry">
        <p class="entry-title">Structural Health Monitoring of Sandwich Composites</p>
        <p class="entry-description">
          <em>Research Assistant (TUBITAK Project ID: 217M207)</em><br>
          <ul>
            <li>Performed various FEM analyses on composite structures.</li>
            <li>Developed numerical techniques for health monitoring of airplane wings.</li>
            <li>Created C++ algorithms to model damage propagation in composite materials.</li>
            <li>Assisted in the manufacturing and testing of a composite airplane wing.</li>
          </ul>          
        </p>
      </div>
      <div class="entry">
        <p class="entry-title">Design of Unmanned Ground Vehicle for Anti-Terrorism Defense</p>
        <p class="entry-description">
          <em>Research Assistant (BAP Project ID: FLO-2018-1028)</em><br>
          <ul>
            <li>Participated in designing a UGV for anti-terrorism purposes.</li>
            <li>Used FEM to model the vehicle and analyze its behavior under various conditions.</li>
          </ul>          
        </p>
      </div>
    </div>
    <!-- Skills -->
    <div class="grid-item" onclick="toggleSection('skills-section')">
      <i class="fas fa-laptop-code"></i>
      <h2>Skills</h2>
    </div>
    <div id="skills-section" class="content-section">
      <h2>Skills</h2>
      <ul class="skills-list">
        <li><strong>Coding:</strong> C++, Python, Fortran, MATLAB, CUDA, and FEniCS.</li>
        <li><strong>Methods:</strong> Smoothed Particle Hydrodynamics (SPH), Phase Field, Finite Element, Isogeometric Analysis, Peridynamics.
        </li>
        <li><strong>Softwares:</strong> ANSYS, SolidWorks, AutoCAD.</li>
        <li><strong>Post/Pre-processing:</strong> ANSA, LS-PrePost, ParaView, GiD, and Corel Draw.</li>
        <li><strong>Languages:</strong> English, Persian, Turkish, Hindi, and Pashto.</li>
      </ul>
    </div>
    <!-- Awards -->
    <div class="grid-item" onclick="toggleSection('awards-section')">
      <i class="fas fa-trophy"></i>
      <h2>Awards</h2>
    </div>
    <div id="awards-section" class="content-section">
      <h2>Awards</h2>
      <div class="entry">
        <p class="entry-title">2024 - <strong>IACS Junior Researcher Award</strong></p>
        <p class="entry-description">Presented by the Institute for Advanced Computational Science (IACS) to PhD
          students for their outstanding research achievements.</p>
      </div>
      <div class="entry">
        <p class="entry-title">2024 - <strong>SBU Civil Engineering Research Merit Award</strong></p>
        <p class="entry-description">Recognizes exceptional research contributions from a graduate student in the
          Department of Civil Engineering at Stony Brook University.</p>
      </div>
      <div class="entry">
        <p class="entry-title">2023 - <strong>First Place Award</strong></p>
        <p class="entry-description">Awarded first place by the Fluid Dynamics Committee of the U.S. Engineering
          Mechanics Institute (EMI), a technical committee of the American Society of Civil Engineers (ASCE).</p>
      </div>
      <div class="entry">
        <p class="entry-title">2019 - <strong>Summa Cum Laude Award</strong></p>
        <p class="entry-description">Ranked 1st out of 940 students in the Faculty of Engineering, Inonu University.</p>
      </div>
      <div class="entry">
        <p class="entry-title">2018 - <strong>First Place in National Undergraduate Thesis Competition</strong></p>
        <p class="entry-description">Awarded by the Scientific and Technological Research Council of Turkey (TUBITAK)
          for outstanding undergraduate thesis work.</p>
      </div>
      <div class="entry">
        <p class="entry-title">2017 - <strong>Young Merit Award</strong></p>
        <p class="entry-description">Presented by the MISA Organization for exceptional academic and personal
          achievements.</p>
      </div>
      <div class="entry">
        <p class="entry-title">2011 - <strong>Silver Medalist in Mathematics</strong></p>
        <p class="entry-description">Achieved silver at the International Science Olympiad (ISO) in Abuja, Nigeria.</p>
      </div>
      <div class="entry">
        <p class="entry-title">2010 - <strong>Gold Medalist in Mathematics</strong></p>
        <p class="entry-description">Awarded the gold medal at the National Mathematics Olympiad in Afghanistan.</p>
      </div>
    </div>
    <!-- Scholarships -->
    <div class="grid-item" onclick="toggleSection('scholarships-section')">
      <i class="fas fa-graduation-cap"></i>
      <h2>Scholarships</h2>
    </div>
    <div id="scholarships-section" class="content-section">
      <h2>Scholarships</h2>
      <div class="entry">
        <p class="entry-title">2019 - <strong>Master's Scholarship</strong></p>
        <p class="entry-description">Awarded a fully funded Master's scholarship in Material Science & Nanoengineering
          by Sabanci University.</p>
      </div>
      <div class="entry">
        <p class="entry-title">2015 - <strong>Double Major (Mechanical Engineering) Scholarship</strong></p>
        <p class="entry-description">Received an undergraduate scholarship for Mechanical Engineering, funded by Inonu
          University.</p>
      </div>
      <div class="entry">
        <p class="entry-title">2013 - <strong>Presidential Scholarship (Civil Engineering)</strong></p>
        <p class="entry-description">Awarded a fully funded undergraduate scholarship for Civil Engineering in Turkey by
          the government of Afghanistan.</p>
      </div>
      <div class="entry">
        <p class="entry-title">2008 - <strong>High School Scholarship</strong></p>
        <p class="entry-description">Received a fully funded high school scholarship awarded by the International
          Turkish high school chain in Balkh, Afghanistan.</p>
      </div>
    </div>
    <!-- Research Experience -->
    <div class="grid-item" onclick="toggleSection('research-section')">
      <i class="fas fa-flask"></i>
      <h2>Research Experience</h2>
    </div>
    <div id="research-section" class="content-section">
      <h2>Research Experience</h2>
      <div class="entry">
        <p class="entry-title">Graduate Researcher in Georgios Moutsanidis's Research Group</p>
        <p class="entry-duration">2021 to Present</p>
        <p class="entry-description">
          I am currently conducting research on various branches of computational mechanics. Some of my recent and
          ongoing works involve developing computational models for:
        </p>
        <ul>
          <li>Diffusion-induced fracture in Li-ion batteries using particle methods.</li>
          <li>Predicting material failure subjected to explosion: a Fluid-Structure interaction approach.</li>
          <li>Simulating the effects of extreme hydrodynamic events on offshore structures.</li>
          <li>Predicting failure of composite materials in dynamic systems.</li>
          <li>Thermal-shock induced fracturing in functional materials.</li>
        </ul>
      </div>

      <div class="entry">
        <p class="entry-title">Graduate Researcher in Integrated Manufacturing Research and Application Center (SU-IMC)
        </p>
        <p class="entry-duration">2019 to 2021</p>
        <p class="entry-description">
          In this research group, to help in various research projects, I developed many algorithms to solve fluid flow
          problems using SPH and Finite Volume methods.
        </p>
      </div>

      <div class="entry">
        <p class="entry-title">Graduate Researcher in Computational Mechanics Research Group</p>
        <p class="entry-duration">2019 to 2021</p>
        <p class="entry-description">
          I developed in-house FEM-based codes to simulate the linear elastic response of structures.
        </p>
      </div>

    </div>

    <!-- Teaching Experience -->
    <div class="grid-item" onclick="toggleSection('teaching-section')">
      <i class="fas fa-chalkboard-teacher"></i>
      <h2>Teaching Experience</h2>
    </div>
    <div id="teaching-section" class="content-section">
      <h2>Teaching Experience</h2>
      <div class="entry">
        <p class="entry-title">Steel and Reinforced Concrete Design I (CIV312)</p>
        <p class="entry-duration">Jan 2024 - May 2024</p>
        <p class="entry-description">Stony Brook University</p>
      </div>

      <div class="entry">
        <p class="entry-title">Calculus (MATH102)</p>
        <p class="entry-duration">Jan 2021 - Jul 2021</p>
        <p class="entry-description">Sabanci University</p>
      </div>

      <div class="entry">
        <p class="entry-title">Manufacturing Processes (IE309)</p>
        <p class="entry-duration">Sep 2020 - Jan 2021</p>
        <p class="entry-description">Sabanci University</p>
      </div>

      <div class="entry">
        <p class="entry-title">Introduction to Material Science (ENS205)</p>
        <p class="entry-duration">Jan 2020 - June 2020</p>
        <p class="entry-description">Sabanci University</p>
      </div>

      <div class="entry">
        <p class="entry-title">Calculus (MATH102)</p>
        <p class="entry-duration">Jan 2019 - Jan 2020</p>
        <p class="entry-description">Sabanci University</p>
      </div>

      <div class="entry">
        <p class="entry-title">Dynamics (DNK201)</p>
        <p class="entry-duration">Jan 2019 - Apr 2019</p>
        <p class="entry-description">Istanbul Technical University</p>
      </div>

    </div>
    
    <!-- Journal Publications -->
    <div class="grid-item" onclick="toggleSection('journal-section')">
      <i class="fas fa-book"></i>
      <h2>Journal Articles</h2>
    </div>
    <div id="journal-section" class="content-section">
      <h2>Journal Articles</h2>
      <ol class="journal-list">
        <li data-number="10"><strong>Rahimi, M. N.</strong>, Moutsanidis, G., & Svolos, L. (2024b). Phase field modeling
          of dynamic brittle fracture in functionally graded materials under thermal shock. Currently working on.</li>
        <li data-number="9"><strong>Rahimi, M. N.</strong>, & Moutsanidis, G. (2024). IGA-SPH: Coupling isogeometric
          analysis with smoothed particle hydrodynamics for air-blast–structure interaction. <em>Engineering with
            Computers</em>, 1–22. doi: <a
            href="https://doi.org/10.1007/s00366-024-01978-0">https://doi.org/10.1007/s00366-024-01978-0</a></li>
        <li data-number="8"><strong>Rahimi, M. N.</strong>, & Moutsanidis, G. (2023a). An SPH-based FSI framework for
          phase-field modeling of brittle fracture under extreme hydrodynamic events. <em>Engineering with
            Computers</em>. doi: <a
            href="https://doi.org/10.1007/s00366-023-01857-0">https://doi.org/10.1007/s00366-023-01857-0</a></li>
        <li data-number="7"><strong>Rahimi, M. N.</strong>, & Moutsanidis, G. (2022a). Modeling dynamic brittle fracture
          in functionally graded materials using hyperbolic phase field and smoothed particle hydrodynamics.
          <em>Computer Methods in Applied Mechanics and Engineering</em>. doi: <a
            href="https://doi.org/10.1016/j.cma.2022.115642">https://doi.org/10.1016/j.cma.2022.115642</a>
        </li>
        <li data-number="6"><strong>Rahimi, M. N.</strong>, & Moutsanidis, G. (2022b). A smoothed particle hydrodynamics
          approach for phase field modeling of brittle fracture. <em>Computer Methods in Applied Mechanics and
            Engineering</em>. doi: <a
            href="https://doi.org/10.1016/j.cma.2022.115191">https://doi.org/10.1016/j.cma.2022.115191</a></li>
        <li data-number="5"><strong>Rahimi, M. N.</strong>, Kolukisa, C., Yildiz, M., Ozbulut, M., & Kefal, A. (2022). A
          Generalized Hybrid Smoothed Particle Hydrodynamics-Peridynamics Algorithm with a Novel Lagrangian Mapping for
          Solution and Failure Analysis of Fluid-Structure Interaction Problems. <em>Computer Methods in Applied
            Mechanics and Engineering</em>. doi: <a
            href="https://doi.org/10.1016/j.cma.2021.114370">https://doi.org/10.1016/j.cma.2021.114370</a></li>
        <li data-number="4"><strong>Rahimi, M. N.</strong>, Kefal, A., & Yildiz, M. (2021). An improved ordinary-state
          based peridynamic formulation for modeling FGMs with sharp interface transitions. <em>International Journal of
            Mechanical Sciences</em>. doi: <a
            href="https://doi.org/10.1016/j.ijmecsci.2021.106322">https://doi.org/10.1016/j.ijmecsci.2021.106322</a>
        </li>
        <li data-number="3">AlKhateab, B., Tabrizi, I. E., Zanjani, J. S. M., <strong>Rahimi, M. N.</strong>, Poudeh, L.
          H., Kefal, A., & Yildiz, M. (2020). Damage mechanisms in CFRP/HNT laminates under flexural and in-plane shear
          loadings using experimental and numerical methods. <em>Composites Part A: Applied Science and
            Manufacturing</em>. doi: <a
            href="https://doi.org/10.1016/j.compositesa.2020.105962">https://doi.org/10.1016/j.compositesa.2020.105962</a>
        </li>
        <li data-number="2"><strong>Rahimi, M. N.</strong>, Kefal, A., Yildiz, M., & Oterkus, E. (2020). An ordinary
          state-based peridynamic model for toughness enhancement of brittle materials through drilling stop-holes.
          <em>International Journal of Mechanical Sciences</em>. doi: <a
            href="https://doi.org/10.1016/j.ijmecsci.2020.105773">https://doi.org/10.1016/j.ijmecsci.2020.105773</a>
        </li>
        <li data-number="1"><strong>Rahimi, M. N.</strong>, & Bettemir, O. H. (2018). Development of an unmanned ground
          vehicle for shelter and cave reconnaissance and annihilation. Savtek 2018 9. <em>Defence Technologies</em>,
          1(-), 761–771.</li>
      </ol>
    </div>

    <!-- Conference Presentations -->
    <div class="grid-item" onclick="toggleSection('conference-section')">
      <i class="fas fa-users"></i>
      <h2>Conference Presentations</h2>
    </div>
    <div id="conference-section" class="content-section">
      <h2>Conference Presentations</h2>
      <ol class="conference-list">
        <li data-number="8"><strong>Rahimi, M. N., Moutsanidis, G., & Svolos, L.</strong> (2024a). Dynamic crack
          propagation in functionally graded materials under thermal shock: A novel phase field approach. In Engineering
          Mechanics Institute Conference and Probabilistic Mechanics and Reliability Conference (EMI/PMC 2024) in
          Chicago, Illinois, May 28-31, 2024.</li>
        <li data-number="7"><strong>Rahimi, M. N., & Moutsanidis, G.</strong> (2023b). High Fidelity Modeling of
          Fracture Under Extreme Hydrodynamic Events: A Coupled SPH-Phase-Field FSI Approach. In Engineering Mechanics
          Institute Conference 2023 (EMI 2023) in Atlanta, Georgia, June 6-9, 2023.</li>
        <li data-number="6"><strong>Kolukisa, D. C., Saghatchi, R., Rahimi, M. N., Moutsanidis, G., & Yildiz,
            M.</strong> (2022). SPH-PD Modeling of the Periodic Elastic Response of a Beam Behind a Cylinder in Laminar
          Incompressible Flow. In The 12th TSME International Conference on Mechanical Engineering in Phuket, Thailand.
        </li>
        <li data-number="5"><strong>Moutsanidis, G., & Rahimi, M. N.</strong> (2022). SPH Framework for Modeling
          Fracture in Fluid-Structure Interaction: A Comparative Study Between Phase Field and Peridynamics. In Meshfree
          and Novel Finite Element Methods with Applications in Berkeley, California.</li>
        <li data-number="4"><strong>Rahimi, M. N., & Moutsanidis, G.</strong> (2022c). A Coupled Total Lagrangian
          SPH-Phase Field Framework for Brittle Fracture. In 16th Spheric in Catania, Italy.</li>
        <li data-number="3"><strong>Rahimi, M. N., & Moutsanidis, G.</strong> (2022d). SPH Framework for Hyperbolic
          Phase Field Modeling of Brittle Fracture. In Meshfree and Novel Finite Element Methods with Applications in
          Berkeley, California.</li>
        <li data-number="2"><strong>Rahimi, M. N., Kefal, A., & Yildiz, M.</strong> (2020). Numerical Investigation on
          Effective Toughening Mechanisms of Graded Composites. In Joint Event: ICCS23 - 23rd International Conference
          on Composite Structures & MechComp6 - 6th International Conference on Mechanics of Composites (p. 151).
          Elsevier.</li>
        <li data-number="1"><strong>Rahimi, M. N., Bulak, O. F., & Bettemir, O. H.</strong> (2018). Excel Based Program
          Modeling and Project Management Application Development. In TÜBİTAK Project Competition Proceedings (p. 87).
          The Scientific and Technological Research Council of Turkey (TUBİTAK).</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 text-center">
      <!-- <a href="path/to/your/CV.pdf" download class="btn btn-success">Download full CV</a> -->
      <a href="img/NaqibRahimi_CV.pdf" target="_blank" class="btn btn-success">View Full CV</a>
    </div>
  </div>
</div>