<!-- Journal Publications Section -->
<section id="publications">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1><i class="fas fa-book"></i> Journal Publications</h1>
        <hr class="star-primary">
      </div>
    </div>
    <div class="publication-grid publication">
      {% for post in site.posts %}
      <div class="publication-item">
        <div class="grid-item" data-toggle="modal" data-target="#publicationModal-{{ post.modal-id }}">
            <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="">
            <div class="caption">
                <i class="fa fa-search-plus fa-3x"></i>
                <i class="text-overlay">{{ post.shortt }}</i>
            </div>
        </div>
    </div>
    
      {% endfor %}
    </div>
  </div>
</section>
